# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Build outputs
dist/
build/
.next/
.nuxt/
out/
dist-ssr/

# Environment variables
.env
.env.test
.env.development.local
.env.test.local
.env.production.local
.env.local

# Vite / Parcel / other bundler caches
.cache/
.parcel-cache/

# OS metadata
.DS_Store
Thumbs.db
*.swp

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prisma
# (If you are using sqlite, you might want to ignore the DB file here)
# prisma/dev.db
# prisma/dev.db-journal
